<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining Task - 1</b></center>
        <center><b><h1>Heart Disease</h1></b></center>
    <center><b><h1>Karan Sonagara</h1></b></center>
     <center><b><h1>Enrollment -- 24010101694</h1></b></center>
         <center><b><h1>Rollno -- 138</h1></b></center>
<pre>

# Step-1 Import the pandas Libraries

In [2]:
import pandas as pd

# Step-2 Import the dataset from this:....

In [4]:
import pandas as pd

# Step-3 Read csv or excel File

In [10]:
df = pd.read_csv("Heart.csv", encoding="ISO-8859-1")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

# Step-4 Print Data from csv or excel File

In [12]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

# Step-5 See the First 10 Rows

In [14]:
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0

# Step-6 See the Last 10 Rows

In [16]:
df.tail(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1015,58,1,0,128,216,0,0,131,1,2.2,1,3,3,0
1016,65,1,3,138,282,1,0,174,0,1.4,1,1,2,0
1017,53,1,0,123,282,0,1,95,1,2.0,1,2,3,0
1018,41,1,0,110,172,0,0,158,0,0.0,2,0,3,0
1019,47,1,0,112,204,0,1,143,0,0.1,2,0,2,1
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

# Step-7 Data type of each columns

In [18]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

# Step-8 Display Summary Information

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

# Step-9 Access a specific column

In [26]:
df["trestbps"]

0       125
1       140
2       145
3       148
4       138
       ...
1020    140
1021    125
1022    110
1023    110
1024    120
Name: trestbps, Length: 1025, dtype: int64

# Step-10 Access rows by their integer location

In [28]:
df.iloc[2]

age          70.0
sex           1.0
cp            0.0
trestbps    145.0
chol        174.0
fbs           0.0
restecg       1.0
thalach     125.0
exang         1.0
oldpeak       2.6
slope         0.0
ca            0.0
thal          3.0
target        0.0
Name: 2, dtype: float64

# Step-13  Perform Condition Selection on DataFrame

In [30]:
df[df['age']==58]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
19,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1
27,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
50,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
966,58,1,0,128,259,0,0,130,1,3.0,1,2,3,0
1006,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1
1013,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
1015,58,1,0,128,216,0,0,131,1,2.2,1,3,3,0

# Step-14 Compute the sum of value

In [32]:
df["age"].sum()

55795

# Step-15 Compute the mean of value

In [34]:
df["chol"].mean()

246.0

# Step-16 Count non-null value (column)

In [36]:
df["trestbps"].count()

1025

# Step-17 Find Minimun or Maximum values

In [38]:
df["thalach"].min()

71

In [40]:
df["thalach"].max()

202

In [42]:
df[(df['age']==58) & (df['sex']==1)]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
19,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1
86,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1
150,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
152,58,1,0,125,300,0,0,171,0,0.0,2,2,3,0
196,58,1,0,100,234,0,1,156,0,0.1,2,1,3,0
230,58,1,0,125,300,0,0,171,0,0.0,2,2,3,0
268,58,1,2,132,224,0,0,173,0,3.2,2,2,3,0
284,58,1,2,132,224,0,0,173,0,3.2,2,2,3,0
291,58,1,0,128,259,0,0,130,1,3.0,1,2,3,0
297,58,1,0,150,270,0,0,111,1,0.8,2,0,3,0
335,58,1,0,150,270,0,0,111,1,0.8,2,0,3,0
366,58,1,2,112,230,0,0,165,0,2.5,1,1,3,0
368,58,1,2,105,240,0,0,154,1,0.6,1,0,3,1
373,58,1,1,120,284,0,0,160,0,1.8,1,0,2,0
380,58,1,0,146,218,0,1,105,0,2.0,1,1,3,0
381,58,1,2,132,224,0,0,173,0,3.2,2,2,3,0
383,58,1,0,150,270,0,0,111,1,0.8,2,0,3,0
406,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1
407,58,1,0,100,234,0,1,156,0,0.1,2,1,3,0
439,58,1,1,120,284,0,0,160,0,1.8,1,0,2,0
479,58,1,0,128,216,0,0,131,1,2.2,1,3,3,0
521,58,1,1,125,220,0,1,144,0,0.4,1,4,3,1
524,58,1,2,112,230,0,0,165,0,2.5,1,1,3,0
540,58,1,0,128,259,0,0,130,1,3.0,1,2,3,0
554,58,1,0,100,234,0,1,156,0,0.1,2,1,3,0
579,58,1,0,146,218,0,1,105,0,2.0,1,1,3,0
598,58,1,1,120,284,0,0,160,0,1.8,1,0,2,0
626,58,1,2,132,224,0,0,173,0,3.2,2,2,3,0
661,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
675,58,1,0,100,234,0,1,156,0,0.1,2,1,3,0
687,58,1,0,125,300,0,0,171,0,0.0,2,2,3,0
690,58,1,2,105,240,0,0,154,1,0.6,1,0,3,1
705,58,1,0,128,216,0,0,131,1,2.2,1,3,3,0
738,58,1,0,125,300,0,0,171,0,0.0,2,2,3,0
743,58,1,1,125,220,0,1,144,0,0.4,1,4,3,1
749,58,1,1,125,220,0,1,144,0,0.4,1,4,3,1
781,58,1,0,146,218,0,1,105,0,2.0,1,1,3,0
815,58,1,2,105,240,0,0,154,1,0.6,1,0,3,1
831,58,1,1,125,220,0,1,144,0,0.4,1,4,3,1
842,58,1,2,112,230,0,0,165,0,2.5,1,1,3,0
850,58,1,1,120,284,0,0,160,0,1.8,1,0,2,0
921,58,1,0,146,218,0,1,105,0,2.0,1,1,3,0
966,58,1,0,128,259,0,0,130,1,3.0,1,2,3,0
1006,58,1,2,140,211,1,0,165,0,0.0,2,0,2,1
1013,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
1015,58,1,0,128,216,0,0,131,1,2.2,1,3,3,0